<div class="pagination-centered">
    <ul class="pagination">
        <li class="current" data-action="1"><a data-action="1">1</a></li>
        <li><a data-action="2">2</a></li>
        <li><a data-action="3">3</a></li>
        <li><a data-action="4">4</a></li>
    </ul>
</div>